@charset "utf-8";
html,body{
  width: 100%;
  height:100%;
  position: relative;
}
#top{
  width:0.4rem;
  height:0.4rem;
  position: absolute;
  right:0.1rem;
  top:0.1rem;
  z-index: 10;
  animation:music 5s infinite linear;

}
@keyframes music {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.jiantou{
  width:0.4rem;
  height:0.4rem;
  position: absolute;
  right:1.45rem;
  bottom:0.1rem;
  z-index: 10;
  animation:jian .8s infinite linear;

}
@keyframes jian {
  from {
    bottom:0.1rem;
  }
  to {
    bottom:0.2rem;
  }
}
.swiper-container{
  width:100%;
  height:100%;
  .box1{
    width:100%;
    height: 100%;
    position: relative;
    .tu1{
      position: absolute;
      width:100%;
      height:100%;
      top:0;
      left:0;
    }
    .tu2{
      position: absolute;
      z-index: 2;
      width:1.045rem;
      height: 0.25rem;
      top:2.75rem;
      left:0.4rem;
    }
    .tu3{
      width:0.74rem;
      height: 1.24rem;
      position: absolute;
      z-index: 1;
      left: 0;
      top:0;
      right:0;
      bottom:0;
      margin: auto;
    }
    .tu4{
      width:0.76rem;
      height: 0.325rem;
      position: absolute;
      z-index: 2;
      right:0.45rem;
      top:2.75rem;
    }
  }
  .box2 {
    width: 100%;
    height: 100%;
    position: relative;
    .tu1 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .tu2 {
      width: 1.74rem;
      height: 0.69rem;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    .tu3{
      width: 1.98rem;
      height: 0.42rem;
      position: absolute;
      z-index: 1;
      left: 0.22rem;
      bottom:0.62rem;
    }
    .tu4{
      width: 2.38rem;
      height: 0.77rem;
      position: absolute;
      z-index: 1;
      left: 0.22rem;
      top:1rem;
    }
    .kuai1{
      position: absolute;
      z-index: 1;
      left: 0.34rem;
      top:1.7rem;
      width:2.6rem;
      height:1.5rem;
      .tu6{
        width: 2.41rem;
        height: 0.61rem;

      }
      .tu7{
        width: 2.31rem;
        height: 0.61rem;
        margin-top: 0.2rem;
      }
    }
    .kuai2{
      width:2.6rem;
      height:1.5rem;
      position: absolute;
      z-index: 2;
      left: 0.24rem;
      top:1.7rem;
      .tu8{
        width: 1.28rem;
        height: 0.74rem;
        margin-left: 0.3rem;
      }
      .tu9{
        width: 2.55rem;
        height: 0.36rem;
        margin-top: 0.2rem;

      }
    }

    .tu5 {
      width: 2.12rem;
      height: 0.42rem;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    .tu10{
      width:1.53rem;
      height:0.6rem;
      position: absolute;
      z-index: 2;
      left: 0.7rem;
      top:1.7rem;
    }
    .tu11{
      width:2.69rem;
      height:0.37rem;
      position: absolute;
      z-index: 2;
      left: 0.3rem;
      top:2.32rem;
    }
    .liuxia{
      display: block;
      width:0.82rem;
      height:0.4rem;
      position: absolute;
      z-index: 2;
      left: 1.1rem;
      bottom:0.56rem;
      .tu12{
        width:100%;
        height:100%;
        animation:top 1s infinite linear;

      }
      @keyframes top{
        from{transform: scale(1);}
        to{transform: scale(1.1);}
      }
    }
  }
  .box3 {
    width: 100%;
    height: 100%;
    position: relative;
    .tu1 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .tu2 {
      width: 1.23rem;
      height: 0.74rem;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

